.main {
  max-width: 51em;
  margin: 0 auto;
}

.content-block * {
  display: block;
}

.flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.flex-item {
    width: 17em;
    padding: 1em;
}
